@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --primary-color: #664de4;
  --primary-text-color: #000000;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
